html {
    color: rgb(0, 0, 0);
}

.navbar {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    gap: 5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(0, 255, 242);
    font-size: 1.1rem;
    transition: 0.9;
    padding: 0.5 1em;
    border-radius: 0.8em;
}

.nav-links li a:hover {
    background-color: rgb(84, 7, 228)
}

.accordion-header {
    width: 100%;
    background-color:blueviolet;
    border: none;
    padding: 1em 1em 1em 3em;
    text-align:left;
    font-size: 1.1rem;
    color:aliceblue;
    cursor: pointer;
    transition: 0.8s;
}
.accordion-header:hover {
    background-color: rgb(18, 101, 226);
}
.accordion-content{
    display: none;
}

.title {
    text-align: center;
    padding: 1em;
}

.current {
    text-decoration: underline dotted rgb(153, 0, 255) 0.3;
}

html {
    font-family: "comic sans";
    color: blue
}

body {
    background-color: rgb(132, 0, 255);
    margin: 0;
}

p {
    font-size: 1rem;
}

.vital {
    font-weight: 900;
}

#header {
    background-image: url(https://i.pinimg.com/736x/6c/16/26/6c162621732a72f9cc9f7b13581d4826.jpg);
    background-size: cover;
    height: 50%;
    color: rgb(0, 0, 0);
    font-size: 10rem;
    border-radius: 0 0 1.2em 1.2em;

    display: flex;
    align-itens: center;
    flex-direction: column;
    padding-bottom: 5%
}